<h2 class="text-center">{{ ship.name }}</h2>
<ul class="list-group">
  <li ng-if="vm.notEmpty(ship.cargo_capacity)" class="list-group-item"><B>Cargo capacity:</B> {{ ship.cargo_capacity|number}}</li>
  <li ng-if="vm.notEmpty(ship.consumables)" class="list-group-item"><B>Consumables:</B> {{ ship.consumables}}</li>
  <li ng-if="vm.notEmpty(ship.cost_in_credits)" class="list-group-item"><B>Cost (in credits):</B> {{ ship.cost_in_credits|number}}</li>
  <li ng-if="vm.notEmpty(ship.crew)" class="list-group-item"><B>Crew:</B> {{ ship.crew|number}}</li>
  <li ng-if="vm.notEmpty(ship.hyperdrive_rating)" class="list-group-item"><B>Hyperdrive rating:</B> {{ ship.hyperdrive_rating}}</li>
  <li ng-if="vm.notEmpty(ship.length)" class="list-group-item"><B>Length (in meters):</B> {{ ship.length|number}}</li>
  <li ng-if="vm.notEmpty(ship.manufacturer)" class="list-group-item"><B>Manufacturer:</B> {{ ship.manufacturer}}</li>
  <li ng-if="vm.notEmpty(ship.max_atmospheric_speed)" class="list-group-item"><B>Max atmospheric speed (km/h):</B> {{ ship.max_atmospheric_speed|number}}</li>
  <li ng-if="vm.notEmpty(ship.passengers)" class="list-group-item"><B>Passengers:</B> {{ ship.passengers|number }}</li>
  <li ng-if="vm.notEmpty(ship.length)" class="list-group-item"><B>Films:</B> {{ ship.films.length }}</li>
</ul>
<div class="row text-center">
  <button ng-click="close()" class="btn btn-danger">Close</button>
</div>
<br/>
