.acme-navbar-text{
  color: white;
}

.acme-navbar-icon{
  float: left;
  margin-right: 6px;
}
.navbar-brand a {
  color: white;
}
.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse {
  background-color: indianred;
  border-color: indianred;
}

.fb-btn {
  // @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, indianred, white);
}

.padded-btn {
  padding: 10px;
}

.username {
  color: white;
  font-size: 13pt;
}

.close-icon {
  margin-left: 6px;
  font-size: 10pt;
  color: white;
}
