<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href ui-sref="home">
        <img src="assets/images/rebel-icon.png" class="acme-navbar-icon"> SWnumbers
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-href="#" ui-sref="about">About this site</a></li>
        <li><a ng-href="https://es.linkedin.com/in/felixrios">Linkedin</a></li>
        <li><a ng-href="http://felixrios.com">Creative Portfolio</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right padded-btn">
        <button ng-show="!vm.isAuthenticated" type="button" class="btn fb-btn" ng-controller="LoginCtrl" ng-click="authenticate('twitter')">Sign in with Twitter</button>
        <div ng-show="vm.isAuthenticated"><span  class="username">Hi, {{ vm.username }}</span> <span ng-click="vm.logout()" class="close-icon glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
      </ul>
    </div>
  </div>
</nav>
