<div class="container">

  <div>
    <acme-navbar/>
  </div>

  <div class="row">
    <div class="col-md-12 text-center padded-md medium-font" ng-hide="vm.starships.length > 0">
      <span ng-show="vm.loading" class="glyphicon glyphicon-cd glyphicon-animate"></span>  LOADING
    </div>
    <div class="col-sm-6 col-md-4" ng-repeat="ship in vm.starships">
      <a href ng-click="vm.details(ship)">
      <div class="thumbnail blue-bg md-height">
        <div class="caption">
          <h3 class="white-font">{{ ship.name }}</h3>
          <P class="medium-font white-font">
            <img class="icon-micro" tooltip="Films: {{ship.films.length}}" ng-repeat="i in vm.getNumArr(ship.films.length) track by $index" src="assets/images/film.png">
            <span ng-if="vm.notEmpty(ship.cargo_capacity)" tooltip="Capacity"><img class="icon-micro" src="assets/images/capacity.png">{{ vm.getNumber(ship.cargo_capacity) }}</span>
            <span ng-if="vm.notEmpty(ship.cost_in_credits)" tooltip="Cost (in credits)"><img class="icon-micro" src="assets/images/money.png">{{ vm.getNumber(ship.cost_in_credits) }}</span>
            <span ng-if="vm.notEmpty(ship.crew)" tooltip="Crew"><img class="icon-micro" src="assets/images/pilot.png">{{ vm.getNumber(ship.crew) }}</span>
            <span ng-if="vm.notEmpty(ship.passengers)" tooltip="Passengers"><img class="icon-micro" src="assets/images/passenger.png">{{ vm.getNumber(ship.passengers) }}</span>
            <span ng-if="vm.notEmpty(ship.consumables)" tooltip="Consumables (time)"><img class="icon-micro" src="assets/images/calendar.png"> {{ ship.consumables }}</span>
            <span ng-if="vm.notEmpty(ship.hyperdrive_rating)" tooltip="Hyperdrive rating"><img class="icon-micro" src="assets/images/hyperdrive.png"> {{ ship.hyperdrive_rating}}</span>
            <span ng-if="vm.notEmpty(ship.length)" tooltip="Length (mts)"><img class="icon-micro" src="assets/images/ruler.png"> {{ vm.getNumber(ship.length) }}</span>
            <span ng-if="vm.notEmpty(ship.max_atmosphering_speed)" tooltip="Max Atmospheric Speed (km/h)"><img class="icon-micro" src="assets/images/speed.png"> {{ vm.getNumber(ship.max_atmosphering_speed) }}</span>
          </P>
        </div>
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button ng-hide="vm.starships.length == 0 || !vm.next" ng-disabled="vm.loading" ng-click="vm.getData()" class="btn btn-lg btn-danger center-block">
        <span ng-show="vm.loading" class="glyphicon glyphicon-refresh glyphicon-animate"></span> LOAD MORE
      </button>
    </div>
  </div>

</div>
