<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="row">
    <div class="col-md-8 sm-font">
      <P>Hi, I'm Felix Rios. And although I have been working with the web since the late 90's, I have been working with Angular only for the past 4 months. I learn quickly and I have been programming for a long time, so I can find my way through any language and framework easily. This small project took me eight hours, and still could be improved in many ways. This is intended as a test for the friends at Label A.</P>
      <br/><P class="text-right">This project uses the free <a href="https://swapi.co/">Star Wars API</a>.</P>
      <br/><P>And here, the oficial answer (by Lucas himself) of the <i>Han shot first</i> controversy:</P>
      <blockquote>"The controversy over who shot first, Greedo or Han Solo, in Episode IV, what I did was try to clean up the confusion, but obviously it upset people because they wanted Solo to be a cold-blooded killer, but he actually isn’t. It had been done in all close-ups and it was confusing about who did what to whom. I put a little wider shot in there that made it clear that Greedo is the one who shot first, but everyone wanted to think that Han shot first, because they wanted to think that he actually just gunned him down.</blockquote>
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/images/luke.png">
    </div>
  </div>

</div>
