<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="jumbotron video-jumbo">
    <video autoplay loop id="video-background" muted>
      <source src="assets/videos/droids.mp4" type="video/mp4">
    </video>
    <h2><span class="hg-font">STAR WARS</span><BR/>IN NUMBERS</h2>


     <!--p class="animated" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p-->
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href ui-sref="characters">
        <div class="thumbnail">
          <img src="assets/images/yoda.jpg" alt="Yoda">
          <div class="caption">
            <h3>CHARACTERS</h3>
            <p>Who's who in the universe</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href ui-sref="starships">
        <div class="thumbnail">
          <img src="assets/images/xwing.jpg" alt="XWing">
          <div class="caption">
            <h3>STARSHIPS</h3>
            <p>The only way to fly</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href ui-sref="vehicles">
        <div class="thumbnail">
          <img src="assets/images/sandspeeder.jpg" alt="Sand Speeder">
          <div class="caption">
            <h3>VEHICLES</h3>
            <p>Closer to the ground...</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail narrow text-center lg-font padded-sm star-bg">
        <div class="up-front white-font">May the force be with you</div>
        <div id="space">
          <div class="stars"></div>
          <div class="stars"></div>
          <div class="stars"></div>
          <div class="stars"></div>
          <div class="stars"></div>
        </div>
      </div>
    </div>
  </div>

</div>


