@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,300);

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


body {
  font-family: 'Lato', sans-serif;
  background: #fff;
}

a:hover {
  text-decoration: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page {
  width: 100%;
  position: absolute;
  margin: 0 auto;
}

.thumbnail {

  img.pull-right {
    width: 50px;
  }
}

.md-height {
  height: 200px;
}

#video-background {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: -85px;
  left: 0px;
  z-index: -99999;
}

.video-jumbo {
  position: relative;
  background: none;
  overflow-y: hidden;
  color: #fff;
  height: 250px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.text-shadow {
  text-shadow: 2px 2px #000000;
}

.icon-small {
  width: 38px;
  height: 38px;
  vertical-align: text-top;
}

.icon-micro {
 width: 24px;
 height: 24px;
 vertical-align: text-top;
}

.gray-bg {
  background-color: gray;
}

.blue-bg {
  background-color: #5AADBB;
}

.green-bg {
  background-color: seagreen;
}

.white-font {
  color: white;
}

.padded-md {
  padding: 100px;
}

.padded-sm {
  padding: 18px;
}

.sm-font {
  font-size: 13pt;
}
.medium-font {
  font-size: 15pt;
}

.lg-font {
  font-size: 24pt;
}

.hg-font {
  font-size: 32pt;
}


.narrow {
  height: 80px;
}

.star-bg {
  background-color: black;
}

.up-front {
  z-index: 999999;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%      { transform: rotateZ(0deg); }
  20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%     { transform: rotateZ(17deg); }
  60%     { transform: rotateZ(16deg); }
  100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

@keyframes fadeOut {
  from    { opacity: 1; }
  to    { opacity: 0; }
}

@keyframes fadeIn {
  from    { opacity: 0; }
  to    { opacity: 1; }
}

.ng-enter           { animation: fadeIn 0.75s both ease-in; z-index: 9999; }
.ng-leave           { animation: fadeOut 0.75s both ease-out; z-index: 8888; }

// Icon animate
.glyphicon-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
  margin-right: 10px;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}


/* Stars
------------------------------------- */

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image:
  radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
