<div class="container">

  <div>
    <acme-navbar/>
  </div>

  <div class="row">
    <div class="col-md-12 text-center padded-md medium-font" ng-hide="vm.characters.length > 0">
      <span ng-show="vm.loading" class="glyphicon glyphicon-cd glyphicon-animate"></span>  LOADING
    </div>
    <div class="col-sm-6 col-md-4" ng-repeat="char in vm.characters">
      <a href ng-click="vm.details(char)">
      <div class="thumbnail gray-bg md-height">
        <div class="caption">
          <h3 class="white-font">{{ char.name }}</h3>
          <P class="medium-font white-font">
            <img class="icon-micro" tooltip="Films: {{char.films.length}}" ng-repeat="i in vm.getNumArr(char.films.length) track by $index" src="assets/images/film.png">
            <img class="icon-micro" tooltip="Starships: {{char.starships.length}}" ng-repeat="i in vm.getNumArr(char.starships.length) track by $index" src="assets/images/starship.png">
            <img class="icon-micro" tooltip="Vehicles: {{char.vehicles.length}}" ng-repeat="i in vm.getNumArr(char.vehicles.length) track by $index" src="assets/images/vehicle.png">
            <span ng-if="vm.notEmpty(char.height)" tooltip="Height (cms)"><img class="icon-micro" src="assets/images/ruler2.png">{{ char.height}}</span>
            <span ng-if="vm.notEmpty(char.gender)" tooltip="Gender"><img ng-if="char.gender === 'male'" class="icon-micro" src="assets/images/male.png"><img ng-if="char.gender === 'female'" class="icon-micro" src="assets/images/female.png"></span>
          </P>
        </div>
      </div>
      </a>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button ng-hide="vm.characters.length == 0 || !vm.next" ng-disabled="vm.loading" ng-click="vm.getData()" class="btn btn-lg btn-danger center-block">
        <span ng-show="vm.loading" class="glyphicon glyphicon-refresh glyphicon-animate"></span> LOAD MORE
      </button>
    </div>
  </div>

</div>

