<h2 class="text-center">{{ char.name }}</h2>
<ul class="list-group">
  <li ng-if="vm.notEmpty(char.birth_year)" class="list-group-item"><B>Birth year:</B> {{ char.birth_year}}</li>
  <li ng-if="vm.notEmpty(char.eye_color)" class="list-group-item"><B>Eye color:</B> {{ char.eye_color}}</li>
  <li ng-if="char.films.length > 0" class="list-group-item"><B>Films:</B> {{ char.films.length}}</li>
  <li ng-repeat="film in char.films" class="list-group-item"> {{ vm.films[film] } </li>
  <li ng-if="vm.notEmpty(char.gender)" class="list-group-item"><B>Gender:</B> {{ char.gender}}</li>
  <li ng-if="vm.notEmpty(char.hair_color)" class="list-group-item"><B>Hair color:</B> {{ char.hair_color}}</li>
  <li ng-if="vm.notEmpty(char.mass)" class="list-group-item"><B>Mass:</B> {{ char.mass}}</li>
  <li ng-if="vm.notEmpty(char.skin_color)" class="list-group-item"><B>Skin color:</B> {{ char.skin_color}}</li>
  <li ng-if="char.starships.length > 0" class="list-group-item"><B>Starships manned:</B> {{ char.starships.length}}</li>
  <li ng-if="char.vehicles.length > 0" class="list-group-item"><B>Vehicles driven:</B> {{ char.vehicles.length}}</li>
</ul>
<div class="row text-center">
  <button ng-click="close()" class="btn btn-danger">Close</button>
</div>
<br/>
